Repository voxpupuli/puppet-nsswitch, pull requests merged in 2024-02, with the labels that each got.

#10 Add Ubuntu 22.04 support
  data/Ubuntu/22.04.yaml
  metadata.json
Labels: enhancement

#11 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#12 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync
